<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTitle%></title>
    <%- include("../common/common.ejs")%>
    <link rel="stylesheet" href="/css/shared.css" />
    <script src="/js/shared.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1 class="icon"><i class="fas fa-sign-in-alt"></i> Login</h1>
      <% if(validationErrors) { %> <%for(const params in validationErrors){%>
      <%- include("../common/message.ejs",{ message :
      validationErrors[params] ,
      error:true})%> <%}%> <%}%>
      <%if(successMessage && successMessage.length > 0) {%>
          <%- include("../common/message.ejs",{
            message:successMessage[0],
            error:false
          }) %>
      <%}%>
      <%if(errorMessage && errorMessage.length > 0) {%>
          <%- include("../common/message.ejs",{
            message:errorMessage[0],
            error:true
          }) %>
      <%}%>
      <form action="/auth/login" method="post" class="form">
        <div class="form__control">
          <label for="email">Email</label>
          <input 
            class="<%=validationErrors?.email  ? 'invalid' : ''%>"
            type="email" 
            name="email" 
            placeholder="Enter email"
            id="email" 
            value="<%=prevInputs?.email ?? '' %>"/>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input 
            class="<%=validationErrors?.password  ? 'invalid' : ''%>"
            type="password" 
            name="password" 
            id="password" 
            placeholder="Enter password"
            value="<%=prevInputs?.password ?? '' %>"                            />
        </div>
        <div class="form__control">
          <button type="submit" class="btn btn-red">Login</button>
        </div>
      </form>
      <span class="span">No Account?</span>
      <span><a href="/auth/register">
      Register</span>
      </a>
    </div>
  </body>
</html>
